<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/signup" method="post">
<input type="text" name="fname" id="firstname">
<input type="text" name="lname" id="lastname">
<input type="text" name="uname" id="username">
<input type="password" name="pw" id="password">
<button type="submit">Create Account</button>
</form>